<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TLMoran.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD9D0A831BCBC99500E533C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9D0A9C1BCBC99500E533C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9D0AA71BCBC99500E533C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
